html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Science Gothic', sans-serif;
    background-image: url('../images/galaxy.png');
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-style: italic;
    color: white;
}

footer {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

